.warning{
    color: red;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .view_assingment{
    color: rgb(83, 83, 223);
  }

  .view_assingment:hover{
    cursor: pointer;
  }

  .main_dash{
    width: 70%;
    padding: 1.5rem;
    margin: auto;
    display: block;
  }